body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  .hero {
    background-color: black;
    text-align: center;
    padding: 60px;
  }
  
  .hero-heading {
    font-size: 48px;
    color: white;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px whitesmoke; 
    display: inline-block;
  }
  .logo{
    display: block;
    margin: 0 auto;
    width: 250px;
    border-radius: 50%; 
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.815);
  }
  
  .hero-subheading {
    font-size: 24px;
    color: #ac1616;
    margin-bottom: 30px;
  }
  
  .hero-description {
    font-size: 18px;
    color: lightcyan;
    margin-bottom: 40px;
    line-height: 1.5;
  }
  
  .cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #555555;
    color: white;
    text-decoration: none;
    font-size: 24px;
    border-radius: 4%;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px whitesmoke;  
  }
  
  .cta-button:hover {
    background-color: #333333;
  }

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.content h1 {
  font-size: 36px;
  color: black;
  margin-bottom: 10px;
  padding-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  display: inline-block;
  background-color: whitesmoke; 
}

.content h2 {
  font-size: 36px;
  color: #ac1616;
  margin-bottom: 10px;
  text-align: center;
}

.content p {
  font-size: 20px;
  color: #333;
  line-height: 1.6;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); 

}

.content a {
  color: #007bff;
  text-decoration: none;
  border-bottom: 1px solid #007bff;
  transition: border-bottom 0.3s ease;
}

.content a:hover {
  border-bottom: none;
}
.angel{
  display: block;
  max-width: 300px; 
  margin: 10px auto; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  border: 3px solid gray;
}
.wadwads h4 {
  font-size: 14px;
  color: black;
  line-height: 1.6;
  text-align: center;
  margin-top: 10px;
}
.angeln {
  display: block;
  max-width: 300px;
  margin: 10px 2.5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  border-top: 50px;
  float: left;
  border: 3px solid gray;
}

.angelni {
  display: block;
  max-width: 300px;
  margin: 10px 2.5px; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  border-top: 50px;
  float: right;
  border: 3px solid gray;
}

.wewe h1{font-size: 16px;
    color: black;
    line-height: 1.6;
    text-align: center;
    margin-top: 10px;
}
.wewe h2{
    font-size: 16px;
  color: black;
  line-height: 1.6;
  text-align: center;
  margin-top: 10px;
}
html{
  scroll-behavior: smooth;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}